<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />

    <!-- The Dreams slot launches the separate ReflectionHLE app -->
    <queries>
        <package android:name="com.reflectionhle" />
    </queries>

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:hardwareAccelerated="true">

        <!-- The launcher shell (main process) -->
        <activity
            android:name=".MegarocketActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Each engine in its own process: a game exiting (exit(0)) kills
             only its process, and the launcher activity resumes. -->
        <activity
            android:name=".OmnispeakActivity"
            android:label="@string/keen46_name"
            android:process=":keen46"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Keen1Activity"
            android:label="@string/keen1_name"
            android:process=":keen1"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Keen2Activity"
            android:label="@string/keen2_name"
            android:process=":keen2"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="false"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Keen3Activity"
            android:label="@string/keen3_name"
            android:process=":keen3"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>
